body{
    --table-row-hover-background-color: rgb(23,25,36);
    --table-background-color: rgb(23,23,26);
    --table-divider-color: rgb(34,37,49);
}

.screener {
    padding-left: 150px;
    padding-right: 150px;
}

.screener-title {
    padding: 20px 0 20px 0;
}

.table {
    display: block;
}

.screener-table{
    margin: auto;
    font-size: 14px;
    width: 100%;
    transform: translateZ(0px);
}

table {
    display: table;
    border-collapse: collapse;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}

.stickyTop {
    position: sticky;
    top: 0px;
}

.bOfkjI {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.gbtfIe {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

.gbtfIe > p {
    white-space: nowrap;
}

.hJMpdk {
    line-height: 1.5;
    margin: 0px;
    color: rgb(255, 255, 255);
    font-size: 14px;
}

.pEXWP {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.ejtSnS {
    line-height: 1.5;
    margin: 0px;
    color: rgb(207, 214, 228);
    font-size: 12px;
}

.escjiH {
    box-sizing: border-box;
    margin: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.dBKWCw {
    box-sizing: border-box;
    margin: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.dBKWCw .coin-logo {
    height: 24px;
    width: 24px;
    border-radius:12px;
}

.market-name {
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

.name {
    box-sizing: border-box;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.name-text{
    line-height: 1.5;
    margin: 0px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 14px;
}

.name p {
    margin: 0px 0px 0px 5px;
    line-height: 24px;
    font-size: 14px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.price {
    color: var(--text-color);
}


.kAXKAX {
    white-space: nowrap;
    border-radius: 8px;
    padding: 0px;
    color: var(--up-color);
}

.czTsgW th {
    border-top: 1px solid var(--table-divider-color);
    border-bottom: 1px solid var(--table-divider-color);
    padding: 11px 10px;
    text-align: right;
    z-index: 99;
    font-size: 12px;
}

.czTsgW td {
    border-bottom: 1px solid var(--table-divider-color);
    padding: 10px;
    font-weight: 500;
}

/* .screener-list {
    border-top: 1px solid white;
} */