.tv-header__inner {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    height: 64px;
    max-width: 100%;
    padding: 0 32px;
    position: relative;
    background-color: #131722;
    border-bottom-style: solid;
    border-color: white;
    border-width: 0.2px;
}


