.card-list {
    height: 78vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    padding-left: 5px;
    background: inherit;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: #787b86;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
