.ticker-item {
    display: flex;
    cursor: pointer;
    border-top: 1px solid #1e222d;
    border-bottom: 1px solid #1e222d;
    border-radius: 6px;
    padding: 4px 12px;
    align-items: center;
    flex-grow: 0;
}

.selected:active{
    background: #192948;
}

.ticker-item:hover{
    background: #1e222d;
}

.market-name {
    padding-bottom: 3px;
}

.market-name-text {
    font-weight: bold;
}

.market-name-text:hover{
    color: #2861fc;
}

.market-change{
    font-weight: bold;
    font-size: 11px;
}

.price-text {
    font-weight: bold;
}

.currency-logo {
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}

.logo {
    width: 20px;
}

.market {
    width: 50%;
    padding-right: 60px;
}

.green {
    color: rgb(65, 255, 65);
}

.red {
    color: rgb(255, 25, 25);
}